﻿<footer class="footer bg-dark text-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6 mb-4">
                <h4>HELP</h4>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="#">FAQs</a></li>
                    <li><a class="text-white" href="#">Resend Policy</a></li>
                    <li><a class="text-white" href="#">Customer Service</a></li>
                    <li><a class="text-white" href="#">Size Guide</a></li>
                    <li><a class="text-white" href="#">Shipping Info</a></li>
                    <li><a class="text-white" href="#">Replica vs Authentic</a></li>
                    <li><a class="text-white" href="#">Jersey Maintenance</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 mb-4">
                <h4>COMPANY INFO</h4>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="#">About FootBall Shop</a></li>
                    <li><a class="text-white" href="#">Dropshipping</a></li>
                    <li><a class="text-white" href="#">Safe Shopping</a></li>
                    <li><a class="text-white" href="#">Influencer Program</a></li>
                    <li><a class="text-white" href="#">Privacy Policy</a></li>
                    <li><a class="text-white" href="#">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 mb-4">
                <h4>POPULAR SEARCHES</h4>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="../Views/Clubs/Index.cshtml">Club Jersey</a></li>
                    <li><a class="text-white" href="../Views/Nations/NationJersey.cshtml">Nation Jersey</a></li>
                    <li><a class="text-white" href="#">New Arrivals</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
                <h4>FOLLOW US</h4>
                <ul class="list-inline">
                    <section class="mb-4">
                        <!--FacebooK-->
                        <a data-mdb-ripple-init
                           class="btn text-white btn-floating m-1"
                           style="background-color: #3b5998;"
                           href="#!"
                           role="button">
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <!-- Twitter -->
                        <a data-mdb-ripple-init
                           class="btn text-white btn-floating m-1"
                           style="background-color: #55acee;"
                           href="#!"
                           role="button">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <!-- Discord -->
                        <a data-mdb-ripple-init
                           class="btn text-white btn-floating m-1"
                           style="background-color: #7289DA;"
                           href="#!"
                           role="button">
                            <i class="fab fa-discord"></i>
                        </a>

                        <!-- Instagram -->
                        <a data-mdb-ripple-init
                           class="btn text-white btn-floating m-1"
                           style="background-color: #ac2bac;"
                           href="#!"
                           role="button">
                            <i class="fab fa-instagram"></i>
                        </a>

                        <!-- Pinterest -->
                        <a data-mdb-ripple-init
                           class="btn text-white btn-floating m-1"
                           style="background-color: red;"
                           href="#!"
                           role="button">
                            <i class="fab fa-pinterest"></i>
                        </a>
                        <!-- WhatsApp -->
                        <a data-mdb-ripple-init
                           class="btn text-white btn-floating m-1"
                           style="background-color: #25D366;"
                           href="#!"
                           role="button">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </section>
                    <!-- Section: Social media -->
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
                <h4>DOWNLOAD APP</h4>
                <a href="#"><img src="~/img/googleplay.png" alt="Get it on Google Play" class="img-fluid"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3 bg-darker">
        <div class="container d-flex justify-content-between">
            <p class="mb-0">Copyright © FootBallShop-2024</p>
            <div>
                <ul class="nav">
                    <li class="nav-item"><i class="fab fa-cc-visa fa-lg mx-2"></i></li>
                    <li class="nav-item"><i class="fab fa-cc-mastercard fa-lg mx-2"></i></li>
                    <li class="nav-item"><i class="fab fa-cc-amex fa-lg mx-2"></i></li>
                    <li class="nav-item"><i class="fab fa-cc-paypal fa-lg mx-2"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">