@model IEnumerable<FootBallShop.Models.Clubs>

@{
    ViewData["Title"] = "Clubs";
    Layout = "_Layout";
}

<div class="container my-4">
    <h2 class="text-center mb-4">Clubs</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var club in Model)
        {
            <div class="col mb-3">
                <a href="@Url.Action("Jersey", "Clubs", new { id = club.ClubId })" class="club-card-link">
                    <div class="card club-card">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            @if (!string.IsNullOrEmpty(club.img))
                            {
                                <img src="@Url.Content($"~/img/clubs/{club.img}")" class="club-img mb-2" alt="@club.Name">
                            }
                            else
                            {
                                <img src="~/img/default-placeholder.png" class="club-img mb-2" alt="No Image">
                            }
                            <h5 class="card-title text-center">@club.Name</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
