@model IEnumerable<FootBallShop.Models.Leagues>

@{
    ViewData["Title"] = "Leagues";
    Layout = "_Layout";
}

<div class="container my-4">
    <h2 class="text-center mb-4">Leagues</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var league in Model)
        {
            <div class="col mb-3">
                <a href="@Url.Action("ClubsByLeague", "Leagues", new { id = league.LeagueId })" class="league-card-link">
                    <div class="card league-card">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            @if (!string.IsNullOrEmpty(league.imgLeaguePath))
                            {
                                <img src="@Url.Content($"~/img/leagues/{league.imgLeaguePath}")" class="league-img mb-2" alt="@league.LeagueName">
                            }
                            else
                            {
                                <img src="~/img/default-placeholder.png" class="league-img mb-2" alt="No Image">
                            }
                            <h5 class="card-title text-center">@league.LeagueName</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary">Create New League</a>
    }
</p>
