@model IEnumerable<FootBallShop.Models.InterLeagues>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container my-4">
    <h2 class="text-center mb-4">Leagues</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var interLeague in Model)
        {
            <div class="col mb-3">
                <a href="@Url.Action("NationsByInterLeague", "InterLeagues", new { id = interLeague.interLeaguesId })" class="league-card-link">
                    <div class="card league-card">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            @if (!string.IsNullOrEmpty(interLeague.img))
                            {
                                <img src="@Url.Content($"~/img/interleagues/{interLeague.img}")" class="league-img mb-2" alt="@interLeague.interLeaguesName">
                            }
                            else
                            {
                                <img src="~/img/default-placeholder.png" class="league-img mb-2" alt="No Image">
                            }
                            <h5 class="card-title text-center">@interLeague.interLeaguesName</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New League</a>
</p></table>
